@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,&display=block');

body {
    width: 80%;
    max-width: 940px;
    margin: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", "Helvetica", "Lucida Grande", sans-serif;
    color: #3D3D3D;
}
.cabecalho {
    text-align: center;
    background-image: url(../img/plano-cabecalho.png);
    background-position: center;
    background-size: cover;
}

.logo {
    height: 10vw;
}

.menu {
    /** O Flexbox é um módulo do CSS que ajuda a posicionar elementos HTML na tela. **/
    display: flex;
    /** Os elementos terão um espaçamento igual em ambos os lados. **/
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f76148;
    margin: 0;
}

.menu-item {
    display: inline-block;
}

.menu-item a {
    display: inline-block;
    padding: 10px;
    color: #fff;
    /** Inherit significa simplesmente que o estilo será herdado do elemento pai. **/
    text-decoration: inherit;
}

a:hover {
    color: #3D3D3D;
}

h1{
    text-align: center;
    color: #f76148;
}

h2{
    text-align: center;
}

.conteiner_cursos{
    background-image: url("../img/home-background.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.lista_curso{
    border: 2px solid #1b8be7;
    border-radius: 5px;
    margin: 10px;
    width: 20%;
    text-align: center;
}
.lista_curso:hover{
    opacity: 0.8;
}

a{
    text-decoration: inherit;
    color: #fff;
}

.conteiner_beneficios{
    display: flex;
    flex-wrap: wrap;
    
}
.lista_beneficios{
    inline-size: 50%;
}

.conteiner_aplicativo{
    display: flex;
    flex-wrap: wrap;
    background-color:#f76148;
    color: #fff;
    padding: 30px 90px;
    align-items: center;
}

.icone_app{
    width: 45%;
    background-color: #fff;
    display: inline-block;
    margin-top: 10px;
    color: #f76148;
    border-radius: 10px;
    text-align: center;
    
}
#right{
    margin-left: 20px;
}
footer{
    margin: 20px;
    text-align: center;
  }
p{
    margin: 0;
}
#dados{
    margin: 20px;
}
